* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

#player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #cover-container {
    overflow: hidden;
    padding: 25px;

    #cover {
      border-radius: 100%;
      width: 100%;
      box-sizing: border-box;
      border: 5px solid;
      margin-top: 20px;
      animation-name: rotate;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }

        25% {
          transform: rotate(90deg);
        }

        50% {
          transform: rotate(180deg);
        }

        75% {
          transform: rotate(270deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  #progress-container {
    width: 80%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: 1250px) {
      width: 60%;
    }

    #progress {
      width: 100%;
      accent-color: #9e9e9e;
      outline: none;
    }

    .time {
      user-select: none;
    }
  }

  #control {
    font-size: 5.5vmax;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 25px;

    @media (min-width: 1200px) {
      font-size: 4.5vmax;
      width: 400px;
    }

    @media (min-width: 1300px) {
      font-size: 4vmax;
      width: 500px;
    }

    .control-btn {
      cursor: pointer;
    }
  }

  audio {
    display: none;
  }
}

#menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  #menu {
    background-color: #eee;
    width: 40%;
    height: 100%;
    overflow: auto;
    animation-name: openMenu;
    animation-duration: 0.3s;
    animation-timing-function: linear;

    @keyframes openMenu {
      0% {
        transform: translate(-100%, 0);
      }

      100% {
        transform: translate(0, 0);
      }
    }

    .music-item {
      display: flex;
      align-items: center;
      gap: 20px;
      &-cover {
        border-radius: 100%;
        width: 100px;
      }
    }

  }

  #rest {
    width: 100%;
    height: 100%;
  }
}

#open-menu-btn {
  position: fixed;
  top: 15px;
  left: 25px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
