* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

#player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #cover-container {
    overflow: hidden;
    padding: 25px;

    #cover {
      border-radius: 100%;
      width: 100%;
      box-sizing: border-box;
      border: 5px solid;
      margin-top: 20px;
      animation-name: rotate;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }

        25% {
          transform: rotate(90deg);
        }

        50% {
          transform: rotate(180deg);
        }

        75% {
          transform: rotate(270deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  #progress-container {
    width: 80%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: 1250px) {
      width: 60%;
    }

    #progress {
      width: 100%;
      accent-color: #9e9e9e;
      outline: none;
    }

    .time {
      user-select: none;
    }
  }

  #control {
    font-size: 5.5vmax;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 25px;

    @media (min-width: 1200px) {
      font-size: 4.5vmax;
      width: 400px;
    }

    @media (min-width: 1300px) {
      font-size: 4vmax;
      width: 500px;
    }

    .control-btn {
      cursor: pointer;
    }
  }

  audio {
    display: none;
  }
}
